################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.user
/src/obj
/test/bin/Debug/netcoreapp2.2
/test/obj
/src/bin/Debug/netstandard2.0

bin/
obj/
build/
.idea/
*.csproj.user
nms.sln.startup.json
build/
package/
nms.sln.DotSettings.user
tools/
.DS_Store
